@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.eot') format("eot");
    src: url('../fonts/Lato-Regular.woff') format("woff") ,
    url('/fonts/Lato-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold.eot') format("eot");
    src: url('../fonts/Lato-Bold.woff') format("woff") ,
    url('/fonts/Lato-Bold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }
 body {
width: 100%;
 }

.txtBold {
     font-family: 'Lato-Bold', serif; 
    }
.txtNor {
        font-family: 'Lato-Regular', serif; 
       }

div {  
    width: 950px;
    padding: 0;
    line-height: 1.5;
} 
.flex-container {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items:  center;
    height: 100%;
    margin-top: 500px;
    align-self:  flex-start;
    /*align-content: space-between;*/
    flex-wrap: nowrap;
    font-size: 22px;
}
.hd {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items:  flex-start;
   font-size: 50px;
 }
 .clr {
    color: #adbbff;
}
 .ft {
    width: 950px; 
    font-weight:bold;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
 }
 /*.box {
    font-weight: normal;
  display: /*inline-block; flex;
   flex-direction: row;
    justify-content: flex-start; 
   /* margin: 5px 0;
   padding: 0;
 }*/
 .box {
    display: flex;
    width: 950px;
  }
  ul, li {
    display: flex;
    padding: 0;
    margin: 0px;
  }
 .box li {
   margin-right: 125px;
  }
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
 .item {
	display: inline-block;
    margin-right: 20px ;
}

 .social {
	font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}
.a.svg {
    position: relative;
    display: inline-block;
}
.img {
    pointer-events: none;
    margin-right: 33px;
  }
  
.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}
.lin { 
    margin-right: 31px;
    text-decoration: none; 
    color: white;
}
.str {
    font-size: 13px;
    text-transform: uppercase;
    color: #5a5a5d
}

